@import "tailwind.css";
@import "../fonts/fonst.css";

html {
  font-family: "Work Sans", "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

.container {
  width: 90% !important;
  inset: 0;
  margin: 0px auto;
  /* max-width: 1300px !important; */
}

/* @media (max-width: 1210px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px !important;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 100% !important;
  }
} */

.swiper-button-next,
.swiper-button-prev {
  transition-duration: 300ms;
  color: #746B6B;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: #0d985d;
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #0d985d;
}

.line-clamp-1 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 6;
}
.line-clamp-7 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 7;
}
